<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<% if controller.logged_in? %>
  <%= controller.current_user.email %> <a href="<%= url_for(:controller => :sessions, :action => :clear_session) %>">logout</a>
<% else %>
  <a href="<%= url_for(:controller => :users, :action => :new) %>">Sign up</a> |
  <a href="<%= url_for(:controller => :sessions, :action => :index) %>">Login</a>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
